<body class="mongoPage">

    <!-- Global Title -->
    <div class="titleDiv">
        NFL Fantasy Data
    </div>

    <!-- Global Nav Bar -->
    <div class="navBarDiv">
        <button class="navBarButton" onclick="window.location.href='/home'">Home</button>
        <button class="navBarButton" onclick="window.location.href='/schedule'">Schedule</button>
        <button class="navBarButton" onclick="window.location.href='/highest'">Mongo</button>
        <button class="navBarButton" onclick="window.location.href='/stream'">Stream</button>
    </div>

    <div class="centerDiv">

        <div class="contentDiv">

            <div class="mongoTitle">Most Clicked Teams</div>
            
            <ul class="teams">
                <li *ngFor="let team of teams">
                    
                    <div class="aaaa"><span class="badge"><b><i>{{team.name}}</i></b></span>&nbsp;- Clicks:&nbsp;<div class="test1">{{team.count}}</div></div>
                
                </li>
            </ul>

        </div>

    </div>

    <!-- Global Footer -->
    <div class="footerDiv">
        Created by Victor Matsyshen and Dylan York<br> 
        &copy; All Rights Reserved 2021
    </div>

    <!-- JS Output -->
    <script src="highestTeam.js"></script>

</body>


