<button onclick="window.location.href='/home'">Home Page</button>

<h2>
    Player Info
</h2>

<!-- JavaScript Output -->
<div class="infoOutput"></div>

<h2>
    Player News
</h2>

<!-- JavaScript Output -->
<div class="playerNewsOutput"></div><br>

<!-- test -->
<input type="text" id="myText" value="2021">
<button onclick="myFunction()">Try it</button>
<div class="demo"></div><br>

<!-- test 2 -->


<h2>
    Season Stats
</h2><br>

<!-- JavaScript Output -->
<div class="seasonStatsOutput"></div><br>

<h2>
    Projected Stats
</h2><br>

<!-- JavaScript Output -->
<div class="statsOutput"></div>

<!-- JavaScript -->
<script src="playerpage.js"></script>