<div>
    <button onclick="window.location.href='/home'">Home Page</button>
    <button onclick="window.location.href='/schedule'">Schedule Page</button>
    <button onclick="window.location.href='/home'">Mongo Page</button>
</div>

<h2>
    Player Info
</h2>

<!-- JavaScript Output -->
<div class="infoOutput"></div>

<h2>
    Player News
</h2>

<!-- JavaScript Output -->
<div class="playerNewsOutput"></div><br>


<h2>
    Season Stats
</h2><br>

<!-- JavaScript Output -->
<div class="seasonStatsOutput"></div><br>

<h2>
    Projected Stats
</h2><br>

<!-- JavaScript Output -->
<div class="statsOutput"></div>

<!-- JavaScript -->
<script src="playerpage.js"></script>