<body class="teamPage">

    <!-- Global Title -->
    <div class="titleDiv">
        NFL Fantasy Data
    </div>

    <!-- Global Nav Bar -->
    <div class="navBarDiv">
        <button class="navBarButton" onclick="window.location.href='/home'">Home</button>
        <button class="navBarButton" onclick="window.location.href='/schedule'">Schedule</button>
        <button class="navBarButton" onclick="window.location.href='/highest'">Mongo</button>
        <button class="navBarButton" onclick="window.location.href='/stream'">Stream</button>
        
    </div>

    <div class="centerDiv">

        <div class="contentDiv">

            <div class="teamImage">
    
                <!-- JavaScript Output -->
                <div class="teamLookOutput"></div>
                
            </div>

            <div class="teamData">

                

                <div class="teamImage2">

                    <div class="sectionHeader">Team Colors</div>
    
                    <!-- JavaScript Output -->
                    <div class="teamLookOutput2"></div>
                    <div class="teamColor1">&nbsp;</div>
                    <div class="teamColor2">&nbsp;</div>
                    <div class="teamColor3">&nbsp;</div>
                    
                </div>
    
                <div class="teamInfo">

                    <div class="sectionHeader">Team Info</div>

                    <div class="teamSplit">

                        <div class="teamDataTitles">
                            Team<br>
                            Head Coach<br>
                            Offensive Coordinator<br>
                            Defensive Coordinator<br>
                            Special Teams Coach<br>
                            Stadium<br>
                            City

                        </div>
                        <!-- JavaScript Output -->
                        <div class="teamDataOutput"></div>

                    </div>

                </div>
    
                <div class="teamPoints">

                    <div class="sectionHeader">Team Standings</div>

                    <div class="teamSplit">

                        <div class="teamDataTitles">
                            Wins<br>
                            Losses<br>
                            Ties<br>
                            Win Percentage<br>
                            Total Points For<br>
                            Total Points Against<br>
                            Net Points<br>
                            Net Touchdowns

                        </div>

                        <!-- JavaScript Output -->
                        <div class="teamStandingsOutput"></div>

                    </div>
                    
                </div>
    
            </div>

            <div class="playerWrap">

                <div class="playerLabel">
                    <button class="playerButton"><div class="playerImage">Photo</div> <div class="pNumber">Number</div>  <div class="pName">Name</div>  <div class="pPosition">Position</div>  <div class="pExp">Experience</div>  <div class="pAge">Age</div>  <div class="pHeight">Height</div>  <div class="pWeight">Weight</div>  <div class="pStatus">Status</div></button>
                </div>
    
                <div class="newPlayerData">
    
                    <!-- JavaScript Output -->
                    <div class="newPlayerOutput"></div>
    
                </div>
        
                <div class="playerData">
    
                    <!-- JavaScript Output -->
                    <div class="playerOutput"></div>
        
                </div>

            </div>
            
            <div class="playerNews">

                <div class="sectionHeader">Latest Team News</div>
                
                <!-- JavaScript Output -->
                <div class="teamNewsOutput"></div>
            
            </div>

        </div>

    </div>

    <!-- Global Footer -->
    <div class="footerDiv">
        Created by Victor Matsyshen and Dylan York<br> 
        &copy; All Rights Reserved 2021
    </div>

    <!-- JavaScript -->
    <script src="schedulepage.js"></script>
    <script src="teampage.js"></script>

</body>